@import "variables";
@import "mixin";

.about {
  background: url("../img/testmonials-bg 1.png");
  background-size: cover;
  background-position: center;
  min-width: 320px;
  max-width: 1200px;

  &__title {
    @include titleH2(36px, 48px);
    padding-top: 57px;
    margin-bottom: 53px;
  }

  &__list {

    &-item {
      display: grid;
      grid-template-rows: 64px 86px;
      row-gap: 22px;
      justify-items: center;
      align-items: center;
      margin: 0 25px 45px;


      .list-item-text {
        @include aboutItemText;
      }
    }
  }

  &__text {
    @include aboutText;
    margin: 37px 35px 0;
    position: relative;
    padding-bottom: 38px;
  }

  &__text:after {
    content: '';
    position: absolute;
    width: 245px;
    border-bottom: 2px solid #645766;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (min-width: $tablet) {
  .about {

    &__title {
      @include titleH2(42px, 44px);
      padding-top: 87px;
      margin-bottom: 88px;
    }

    &__list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 43px;
      row-gap: 56px;

      &-item {
        grid-template-rows: 64px 62px;
        margin: 0 3px;
      }
    }

    &__text:after {
      width: 555px;
      top: 75%;
    }
  }
}

@media screen and (min-width: $desktop) {
  .about {

    &__title {
      @include titleH2(48px, 50px);
      padding-top: 108px;
      margin-bottom: 82px;
    }

    &__list {
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 87px;
      row-gap: 111px;
      margin: 0 45px;
    }

    &__text {
      margin: 118px 223px 0;
    }

    &__text:after {
      width: 780px;
      top: 65%;
    }
  }
}