@import "variables";

.burger {
  height: 37px;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-color: transparent;
}

.burger-menu {
  width: 17px;
  height: 2px;
  background: #fff;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.burger-menu::before,
.burger-menu::after {
  content: "";
  position: absolute;
  height: 2px;
  background: #fff;
  border-radius: 5px;
  transition: 0.2s ease-in-out;
}

.burger-menu::before {
  transform: translateY(-6px);
  right: 0;
  width: 10px;
}

.burger-menu::after {
  transform: translateY(6px);
  width: 17px;
}

.burger.open .burger-menu {
  transform: translateX(-50px);
  background: transparent;
}

.burger.open .burger-menu::before {
  transform: rotate(45deg) translate(35px, -35px);
  width: 17px;
}

.burger.open .burger-menu::after {
  transform: rotate(-45deg) translate(35px, 35px);
}



.header__menu-burger {
  width: 100%;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 50px;
  left: 0;
}

.open-menu {
  width: 100%;
  visibility: visible;
  opacity: 1;
  transition: 0.9s;
}

.header__menu-burger-item {
  & a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    padding: 29px 0 21px 35px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    border-bottom: 2px solid rgba(212, 212, 212, 0.1);
    position: relative;

    &:active {
      color: $mainColor;
    }

    &:active::before {
      content: "";
      display: block;
      background-color: $mainColor;
      width: 8px;
      height: 50px;
      position: absolute;
      top: 10px;
      left: 0;
    }
  }
}


.menu-items {
  background: rgba(51, 51, 51, 1);
  width: 292px;
  min-height: 320px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
