@import "variables";

.wrapper {
  min-width: 320px;
  padding: 0 10px;
  margin: 0 auto;
}

.fork__wrapper {
  background: url("../img/img 1.png");
  background-size: cover;
  background-position: center;


  .header {

    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 103px;
    background: #27262A;

    &__logo {
      display: flex;
      align-items: center;

      &-white {
        display: none;
      }

      &-violet {

      }


      &-title {
        font-family: 'Lato';
        text-transform: uppercase;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 16px;
        color: $textViolet;
        padding-left: 17px;
        display: none;
      }
    }

    &__logo:hover &-white {
      display: block;

      //&-white {
      //  display: block;
      //}
      //
      //&__violet {
      //  display: none;
      //}
    }

    &__logo:hover &-violet {
      display: none;
    }

    &__menu-button {
      min-width: 119px;
      height: 37px;
      background: $mainColor;
      border-radius: 40px;
      color: #ffffff;
      font-weight: bold;
      font-size: 15px;
      line-height: 15px;
      cursor: pointer;
    }

    &__menu-button:hover {
      background: #ffffff;
      color: $mainColor;
    }

    &__menu {
      display: none;
    }
  }

  .fork__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: #FFFFFF;
    text-align: center;
    padding: 50px 0 19px;
  }

  .fork__subtitle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #8D81AC;
    text-transform: capitalize;
    text-align: center;
  }

  .fork__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    color: #848E97;
    padding: 14px 0 407px;
  }


}

.fork__button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #8D81AC;
  width: 290px;
  height: 45px;
  border-radius: 40px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #ffffff;
  border: 1px solid #8D81AC;
  cursor: pointer;
  margin: -23px auto;
}

.fork__button:hover {
  background: #ffffff;
  color: #8D81AC;
}

.unlimited {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #848E97;
  margin-top: 32px;
}