

@mixin titleH2($x, $y) {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: $x;
  line-height: $y;
  text-align: center;
  color: #FFFFFF;
}

@mixin aboutItemText {
  font-style: italic;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
}

@mixin aboutText {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #A291A5;
}

