@import "variables";

.instagram {
  margin-top: 60px;
  background: #f6f2f2;

  &__title {
    max-width: 900px;
    display: flex;
    justify-content: space-between;
    margin: 38px auto 13px;
    padding-left: 25px;

    &-text {
      display: none;
      text-transform: uppercase;
      color: $mainTitleColor;
      font-style: normal;
      font-weight: bold;
      font-size: 13px;
      line-height: 22px;
      margin-top: 38px;
    }
  }

  &__block {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    padding: 0 25px 50px;

    margin: auto;

    &-img:not(:first-child) {
      display: none;
    }
  }
}

@media screen and (min-width: 768px) {
.instagram__title {
  margin: 47px 0 35px;
  padding-left: 40px;
  max-width: 910px;

  &-text {
    display: block;
  }
}

  .instagram__block {
    padding-left: 40px;

    &-img:not(:last-child) {
      display: block;
    }
  }
}

@media screen and (min-width: 1200px) {

  .wrapper {
    margin: auto;
    max-width: 1220px;
  }

  .instagram__title {
    max-width: 1210px;
    margin-bottom: 24px;
  }

  .instagram__block-img:last-child {
    display: block;
  }
}
