@import "variables";

.main {
  margin: 0 auto;
  padding: 0 25px;

 &__img320 {
    display: block;
    height: auto;
    width: 100%;
  }

  &__img768 {
    display: none;
  }

  &__img1170 {
    display: none;
  }

  &__title {
    text-transform: uppercase;
    //width: 100%;
    color: $mainTitleColor;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    margin-top: 38px;
  }

  &__menu {
    &-item {
      margin-top: 28px;

      .item-wrapper {
        max-width: 540px;


        .item-title {
          color: $mainTitleColor;
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          line-height: 30px;
        }

        .item-comments {
          color: $mainBlockContentColor;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 20px;
        }

        .item-text {
          color: $mainBlockTextColor;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 26px;
          display: none;
        }
      }
    }

    &-item:first-child {
      margin-top: 23px;
    }

    &-item:last-child {
      display: none;
    }
  }
}

@media screen and (min-width: 768px) {
  .main {
    padding: 0 40px;

    &__img320 {
      display: none;
    }

    &__img768 {
      display: block;
      width: 100%;
    }

    &__img1170 {
      display: none;
    }

    &__menu-item:last-child {
      display: flex;
    }

    &__menu-item {
      display: flex;

      .item-wrapper {
        margin-left: 21px;

        .item-text {
          display: block;
        }
      }
    }

  }
}

@media screen and (min-width: 1200px) {

  .main {
    max-width: 1185px;
    //margin:0 50px ;

    &__img320 {
      display: none;
    }

    &__img768 {
      display: none;
    }

    &__img1170 {
      display: block;
    }

    &__menu {
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
    }

  }
}