@import "_mixin.scss";
@import "_variables.scss";

.header {
  max-width: 1200px;
  display: flex;
  justify-content: flex-end;
  margin: 20px auto;

  &__menu-hidden {
    display: none;

    ul {
      display: flex;
      justify-content: space-around;
      margin: 0 160px;

      li {
        @include liElement;
             }

      li:hover {
        color: $navHoverColor;
      }
    }
  }

  &__burger {
    position: relative;
    margin-right: 25px;

    .menu-btn {
      width: 44px;
      height: 37px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: all .2s ease-in-out;
      border: 3px solid #fff;
      background-color: black;
    }

    .menu-btn__burger {
      width: 17px;
      height: 2px;
      background: white;
      transition: all .2s ease-in-out;
    }

    .menu-btn__burger::before,
    .menu-btn__burger::after {
      content: '';
      position: absolute;
      width: 17px;
      height: 2px;
      background: #fff;
      transition: all .2s ease-in-out;
    }

    .menu-btn__burger::before {
      transform: translateY(-4px);
    }

    .menu-btn__burger::after {
      transform: translateY(4px);
    }

    .menu-btn.open .menu-btn__burger {
      transform: translateX(-50px);
      background: transparent;
    }

    .menu-btn.open .menu-btn__burger::before {
      transform: rotate(45deg) translate(35px, -35px);
      background: white;
    }

    .menu-btn.open .menu-btn__burger::after {
      transform: rotate(-45deg) translate(35px, 35px);
      background: white;
    }

    .menu-btn.open {
      border: 3px solid white;
    }

    &-menu {
      position: absolute;
      top: 32px;
      left: -102px;
      background-color: $navMenuColor;
      padding-right: 55px;

      &-item {
        @include liElement;
      }

      &-item:hover {
        color: $navHoverColor;
      }

      .header__burger-menu-none {
        display: none;
      }

      .header__burger-menu-active {
        display: block;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .header {
    display: block;
  }

  .header__menu-hidden {
    display: block;
  }

  .header__burger {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .header__menu-hidden {
    max-width: 1190px;
  }
}


