*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

.header {
  max-width: 1200px;
  display: flex;
  justify-content: flex-end;
  margin: 20px auto;
}
.header__menu-hidden {
  display: none;
}
.header__menu-hidden ul {
  display: flex;
  justify-content: space-around;
  margin: 0 160px;
}
.header__menu-hidden ul li {
  text-transform: uppercase;
  color: #4E4E4E;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 22px;
  padding-left: 13px;
  cursor: context-menu;
}
.header__menu-hidden ul li:hover {
  color: #57A4A4;
}
.header__burger {
  position: relative;
  margin-right: 25px;
}
.header__burger .menu-btn {
  width: 44px;
  height: 37px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border: 3px solid #fff;
  background-color: black;
}
.header__burger .menu-btn__burger {
  width: 17px;
  height: 2px;
  background: white;
  transition: all 0.2s ease-in-out;
}
.header__burger .menu-btn__burger::before,
.header__burger .menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 17px;
  height: 2px;
  background: #fff;
  transition: all 0.2s ease-in-out;
}
.header__burger .menu-btn__burger::before {
  transform: translateY(-4px);
}
.header__burger .menu-btn__burger::after {
  transform: translateY(4px);
}
.header__burger .menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
}
.header__burger .menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
  background: white;
}
.header__burger .menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
  background: white;
}
.header__burger .menu-btn.open {
  border: 3px solid white;
}
.header__burger-menu {
  position: absolute;
  top: 32px;
  left: -102px;
  background-color: #F5F5F5;
  padding-right: 55px;
}
.header__burger-menu-item {
  text-transform: uppercase;
  color: #4E4E4E;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 22px;
  padding-left: 13px;
  cursor: context-menu;
}
.header__burger-menu-item:hover {
  color: #57A4A4;
}
.header__burger-menu .header__burger-menu-none {
  display: none;
}
.header__burger-menu .header__burger-menu-active {
  display: block;
}

@media screen and (min-width: 768px) {
  .header {
    display: block;
  }

  .header__menu-hidden {
    display: block;
  }

  .header__burger {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .header__menu-hidden {
    max-width: 1190px;
  }
}
.main {
  margin: 0 auto;
  padding: 0 25px;
}
.main__img320 {
  display: block;
  height: auto;
  width: 100%;
}
.main__img768 {
  display: none;
}
.main__img1170 {
  display: none;
}
.main__title {
  text-transform: uppercase;
  color: #4E4E4E;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  margin-top: 38px;
}
.main__menu-item {
  margin-top: 28px;
}
.main__menu-item .item-wrapper {
  max-width: 540px;
}
.main__menu-item .item-wrapper .item-title {
  color: #4E4E4E;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
}
.main__menu-item .item-wrapper .item-comments {
  color: #7C7C7C;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
}
.main__menu-item .item-wrapper .item-text {
  color: #5C5C5C;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  display: none;
}
.main__menu-item:first-child {
  margin-top: 23px;
}
.main__menu-item:last-child {
  display: none;
}

@media screen and (min-width: 768px) {
  .main {
    padding: 0 40px;
  }
  .main__img320 {
    display: none;
  }
  .main__img768 {
    display: block;
    width: 100%;
  }
  .main__img1170 {
    display: none;
  }
  .main__menu-item:last-child {
    display: flex;
  }
  .main__menu-item {
    display: flex;
  }
  .main__menu-item .item-wrapper {
    margin-left: 21px;
  }
  .main__menu-item .item-wrapper .item-text {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .main {
    max-width: 1185px;
  }
  .main__img320 {
    display: none;
  }
  .main__img768 {
    display: none;
  }
  .main__img1170 {
    display: block;
  }
  .main__menu {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
.instagram {
  margin-top: 60px;
  background: #f6f2f2;
}
.instagram__title {
  max-width: 900px;
  display: flex;
  justify-content: space-between;
  margin: 38px auto 13px;
  padding-left: 25px;
}
.instagram__title-text {
  display: none;
  text-transform: uppercase;
  color: #4E4E4E;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 22px;
  margin-top: 38px;
}
.instagram__block {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  padding: 0 25px 50px;
  margin: auto;
}
.instagram__block-img:not(:first-child) {
  display: none;
}

@media screen and (min-width: 768px) {
  .instagram__title {
    margin: 47px 0 35px;
    padding-left: 40px;
    max-width: 910px;
  }
  .instagram__title-text {
    display: block;
  }

  .instagram__block {
    padding-left: 40px;
  }
  .instagram__block-img:not(:last-child) {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .wrapper {
    margin: auto;
    max-width: 1220px;
  }

  .instagram__title {
    max-width: 1210px;
    margin-bottom: 24px;
  }

  .instagram__block-img:last-child {
    display: block;
  }
}
.footer {
  background-color: black;
  padding: 66px 0 70px;
}
.footer__title {
  color: #FEFEFE;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  margin-bottom: 22px;
}
.footer__text {
  text-align: center;
  color: #B9B9B9;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
}
.footer__icons {
  display: flex;
  justify-content: center;
  margin: 31px 0 28px;
}
.footer__icons-item {
  position: relative;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  margin: 6px;
}
.footer__icons-item-icon {
  position: absolute;
  top: 10px;
  right: 11px;
}
.footer__icons-item-border-one {
  border: 1px solid #F8902E;
}
.footer__icons-item-border-two {
  border: 1px solid #215aec;
}
.footer__icons-item-border-three {
  border: 1px solid #45B0E3;
}
.footer__icons-item-border-four {
  border: 1px solid #D97AB0;
}
.footer__icons-item-border-five {
  border: 1px solid #CC212C;
}

/*# sourceMappingURL=min.css.map */
