body {
width:1280px;
  font-family: 'Montserrat', sans-serif;
}

.nav-item {
display: inline-block;
}

ul {
  margin: 31.5px 330px 31.5px 330px;
}

.nav-item-link {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  align-items: center;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  color: red;
}

.main-title {
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 3.3px;
  margin: 48px 253px 0 253px;
}

.text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2.4px;
  color: #373737;
  padding:28px 67.5px 0  67.5px  ;

}