body {
  width: 1280px;
  margin: auto;
}

.header-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 94px;
  margin-bottom: 40px;
  margin-top: 63px;
}

a {
  text-decoration: none;
}

.header-title-link {
  color: #000000;
}

.header-title-span {
  color: #24da49;
}

.header-menu {
  display: flex;
  justify-content: center ;
  width: 100%;
  background:#35444F;
  margin-bottom: 48px;
}

.header-menu-item {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  padding: 24px 40px 18px 35px;
  border-left: 1px solid #FFFFFF;
}

.header-menu :last-child {
  border-right: 1px solid #FFFFFF;
}

.header-menu-item:hover {
  background: #222F3A;;
}

main {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.aside-block {
  width: 27%;
}

.aside-menu {
  display: flex;
  flex-direction: column;
  border: 1px solid #000000;
}

.aside-menu-item {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 27px;
  color: #485863;
  padding: 26px 0 26px 44px;
}

.aside-menu-item:hover {
  background: #DBDBDB;
  color: #000000;
  padding-left: 70px;
}

.article-block {
  width: 69%;
  background: #2bcfde;
}

.article-img {
  border: 1px solid #000000;
  margin-bottom: 37px;
}

.article-img-picture {
  display: block;
  margin: 75px 268px 73px 297px;
  width: 320px;
  transition: transform 0.6s ease-in-out;
}

.article-img-picture:hover {
  transform: scale(1.1);
}

.article-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #2C2C2C;
  margin-bottom: 34px;
}

.footer-block {
  display: flex;
  justify-content: space-between;
  background: #63696E7A;
  margin: 20px 0 30px 0;
}

.footer-menu {
  display: flex;
  margin-left: 40px;
}

.footer-menu-item {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
  color: #0C1927;
  margin: 20px 40px 21px 0;
}


.footer-menu-item:hover {
  color: #3181A6;
  padding-bottom: 10px;
  margin-bottom: 8px;
  border-bottom: 3px solid #3181A6;
}

.footer-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #010101;
  padding: 20px 40px 21px 0;
}

.btn-theme {
  width: 300px;
  height: 50px;
  margin-bottom: 50px;
  background: #4BCAFF;
  border-radius: 50%;
  text-transform: uppercase;
}