.div__card {
    width: 800px;
    height: 160px;
    color: white;
    background: #000;
    padding-left: 100px;
    position: relative;
    margin: auto;

}

.card__delete {
    background-color: tomato;
    background-image: url("./img/delete.png");
    position: absolute;
    top: 10px;
    right: 10px;
    width: 28px;
    height: 28px;
    border-radius: 3px;
    border: 1px solid plum;
    outline: none;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    filter: brightness(.9);
}