
body {
  background-color: #131212;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  max-width: 1460px;
  margin: 37px 230px 128px 230px;
}

.header-logo {
  width: 216px;
  height: 33px;
}

.header-call {
  display: flex;
  width: 218px;
  border: 1px solid #E4B564;
}

.header-call-logo {
  padding: 18px 10px 18px 26px;
}

.header-call-text {
  display: inline-block;
  Font-family: Circe;
  Font-size: 18px;
  Line-height: 30px;
  color: #E4B564;
  padding: 10px 25px 10px 0;
}

section {
  max-width: 1460px;
  margin: 0 230px;
}

.section-title {
  Font-family: Gilam;
  Font-size: 50px;
  Line-height: 28px;
  color: #FFFFFF;
 }

.section-text {
  Font-family: Gilam;
  Font-size: 20px;
  Line-height: 28px;
  color: #FFFFFF;
  margin: 41px 278px 41px 0;
 }

.wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr );
  grid-template-rows: repeat(2, 468px);
  gap: 27px;
  Font-family: Gilam;
  Font-style: normal;
  Font-size: 20px;
  Line-height: 28px;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 161px;
}

.work {
  display: flex;
  align-items: center;
  justify-content: center;
}

.one {
  grid-area: 1/1/2/3;
  background: #634F2C;
}

.two {
  grid-area: 1/3/2/5;
  background: #B4A385;
 }

.three {
  grid-area: 1/5/2/7;
  background: #E4B564;
}

.four {
  grid-area: 2/1/3/4;
  background: #635A4A;
}

.five {
  grid-area: 2/4/3/7;
  background: #B08C4D;
}

.title-two {
  margin-bottom: 94px;
}

.wrapper-first {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 30px;
  margin-bottom: 191px;
}

.vehicle-one {
  display: flex;
  flex-direction: column;
}

.vehicle-two {
  display: flex;
  flex-direction: column;
}

.vehicle-three {
  display: flex;
  flex-direction: column;
}

.vehicle-text {
  Font-family: Gilam;
  Font-size: 20px;
  Line-height: 27px;
  color: #FFFFFF;
  margin-left: 52px;
  margin-top: 44px;
}

.kamaz {
  font-weight: bold;
}

.car1 {
  background: #0E0E0E;
  height: 313px;
  margin-bottom: 24px;
}

.car2 {
  background: #1F1F1F;
  height: 560px;
}

.car3 {
  height: 439px;
  background: #242424;
  margin-bottom: 33px;
}

.car4 {
  height: 405px;
  background: #E4B564;
}

.text-active {
  color: #000000;
}

.car5 {
  height: 255px;
  background: #1F1F1F;
  margin-bottom: 26px;
}

.car6 {
  height: 313px;
  background: #0E0E0E;
  margin-bottom: 26px;
}

.car7 {
  height: 277px;
  background: #0A0909;
}

.footer {
  background: #0E0E0E;
}

.section-three {
  margin-bottom: 239px;
}

.section-three-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  padding-top: 172px;
}

.section-three-text {
  display: inline-block;
  Font-family: Circe;
  Font-size: 18px;
  Line-height: 30px;
  color: #E4B564;
  border: 1px solid #E4B564;
  padding: 10px 20px 10px 40px;
}

.wrapper-second {
  display: flex;
  flex-wrap: wrap;
  }

.second-item {
  width: 33.3%;
  height: 391px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.client1 {
  background: #634F2C; 
}

.client2 {
  background: #E8D2AB;
}

.logo-client2 {
  height: 293px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  Font-family: Gilam;
  Font-size: 22px;
  Line-height: 28px;
  color: #FFFFFF;
}

.item-text-logo {
  margin-top: 12px;
}

.client3 {
  background: #E4B564;
}

.client4 {
  background: #635A4A;
}

.client5 {
  background: #B08C4D;
}

.client6 {
  background: #634F2C;
}

