body {
  background: url("../img/background 1 (1).png");
  background-size: cover;
  width: 1020px;
  height: 768px;
  margin: auto;
  font-family: 'Inter', sans-serif;
  color: #FFFFFF;
}

a {
   text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 46px 0 20px 0;
}

.logo-link {
  display: flex;
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: bold;
  }

.logo-link:hover {
  color: #F26522;
}

.logo-logo {
  background-image: url("../img/logo 3 (1).png");
  width: 53px;
  height: 44px;
  margin-right: 8px;
}

.logo-link:hover .logo-logo {
  background-image: url("../img/logo 2.png");
}

.logo-text {
  Font-size: 18px;
  Line-height: 18px;
 }

.text-title {
  Font-size: 29px;
  Line-height: 29px;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 19px;
}

.contacts a {
  Font-size: 18px;
  Line-height: 18px;
  color: #FFFFFF;
}

.contacts a:hover {
  color: #F26522;
}

.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 300px);
  column-gap: 57px;
}

.tours-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tours-title {
  Font-size: 18px;
  Line-height: 18px;
  color: #FFFFFF;
  margin-top: 20px;
}

.wrapper {
  width: 300px;
  height: 220px;
  border-width: 5px;
  border-style: solid;
  border-image: linear-gradient(
    to bottom,
    white,
    rgba(0, 0, 0, 0)
  ) 1;
  overflow: hidden;
}

.wrapper img {
  width: 100%;
  height: 100%;
}

.tile {
  background-color: #F26522;
  color: #FFFFFF;
  padding: 8px 16px;
  transition: all .6s ease-in-out;
}

.tile-title {
  Font-size: 10px;
  Line-height: 10px;
  margin-bottom: 8px;
}

.tile-price {
  display: flex;
  justify-content: space-between;
}

.tile-text {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
}

.tile-view {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
}

.tile-view:after {
  content: '>';
  margin-left: 16px;
}

.tours-link:hover .tile {
  transform: translateY(-59px);
}

.tours-link:hover .tours-title {
  color: #F26522;
}

.footer-text {
  Font-size: 12px;
  Line-height: 12px;
  text-align: center;
  margin-top: 20px;
}