body {
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  max-width: 1160px;
  margin: auto;
}

.header__wrapper {
  background: url("../img/Step Project Ham/Sections background/section-1(header).jpg");
  background-size: cover;
  background-attachment: fixed;
}

.header {
  background: rgba(94, 93, 88, 0.6);
  height: 120px;
}

.wrapper-header {
  display: flex;
  justify-content: space-around;
  padding-top: 26px;
}

.header__logo {
  display: flex;
  align-items: center;
  position: relative;
}

.logo-symbol {
  position: absolute;
  top: 20px;
  left: 16px;
}

.header__logo-title {
  font-size: 32px;
  Line-height: 48px;
  color: white;
}

.logo-title-span {
  font-weight: bold;
  color: #18CFAB;
}

.header__menu {
  display: flex;
  align-items: center;
}

.menu-item-link {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  padding-bottom: 48px;
  margin-right: 22px;
}

.menu-item-link:hover {
  color: #18CFAB;
  border-bottom: 3px solid #18CFAB;
}

.header__title {
  font-size: 35px;
  text-transform: uppercase;
  color: white;
  text-align: center;
  padding-top: 264px;
  font-weight: bold;
  padding-bottom: 22px;
   }

.header__title-span {
  color: #18CFAB;
}

.header__subtitle {
  text-transform: uppercase;
  text-align: center;
  font-size: 78px;
  font-weight: 900;
  color: white;
  padding-bottom: 22px;
}

.header__subsubtitle {
  font-size: 34px;
  color: white;
  text-align: center;
  padding-bottom: 129px;
}

.header__button-block {
  display: flex;
  justify-content: center;
  font-size: 15px;
  line-height: 32px;
  color: white;
  padding-bottom: 243px;
}

.header__button-button {
  padding: 11px 0;
  color: white;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 32px;
  text-transform: uppercase;
  border-radius: 6px;
  border-top: 5px solid white;
  margin-top: 100px;
}

.explorer {
  background-color: #18CFAB;
  width: 135px;
  margin-right: 26px;
}

.purchase {
  background-color: #00CBF6;
  width: 145px;
}

.square__block {
  display: flex;
  margin-top: 8px;
}

.square__block-item {
  width: 100%;
  height: 377px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dark-idea {
  background: #1C2A33;
}

.green-idea {
  background: #18CFAB;
}

.item-title {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
}

.title-green {
  color: #18CFAB;
  padding-top: 48px;
}

.title-white {
  color: white;
  padding-top: 58px;
}

.block-title {
  text-align: center;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  padding-top: 83px;
}

.block-title:after {
  content: "";
  display: block;
  width: 76px;
  height: 2px;
  margin: 32px auto 64px auto;
  border-top: 1px solid #18CFAB;
  border-bottom: 1px solid #18CFAB;
  transform: skewX(70deg);
}

.service__menu {
  height: 50px;
  display: flex;
  justify-content: space-around;
}

.service__menu-item {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 39px;
  padding: 7px 40px;
  position: relative;
}

.hov:hover {
  border: 1px solid #18CFAB;
}

.active-click {
  color: white;
  background-color: #18CFAB;
}

.active-click:after {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-top: 11px solid #18CFAB;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.service__menu-photo {
  margin-top: 25px;
}

.photo-wrapper {
  display: flex;
  align-items: flex-start;
}

.service-img {
  width: 192px;
  height: 139px;
  margin-right: 15px;
}

.service-text {
  color: #777777;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
}

.display-service {
  display: block;
}

.display-service-none {
  display: none;
}

.everything__block {
  background: url("../img/Step Project Ham/Sections background/Layer 21 1.png");
  background-size: cover;
  margin-top: 91px;
}

.everything-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.everything-title {
  color: #18CFAB;
  text-transform: uppercase;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  padding-top: 127px;
  margin-bottom: 12px;
}

.everything-text {
  text-align: center;
  color: #D8D8D8;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 40px;
  margin: 0;
}

.button-everything {
  margin-bottom: 127px;
}

.amazing__block {
  background: #E9EDEF;
}

.amazing__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom:71px;
}

.amazing__menu-item {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 39px;
  padding: 7px 14px;
}

.amazing__menu-item:hover {
  color: #18CFAB;
  border: 1px solid #18CFAB;
}

.amazing-pictures {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

}

.amazing-pictures-hover {
  position: relative;
  width: 295px;
  height: 211px;
  border-top: 3px solid #18CFAB;
  background-color: #E9EDEF;
  opacity: 0;
}

.amazing-pictures-hover:hover {
  opacity: 1;
  transition: 1s;
}

.amazing-pictures-item {
  width: 50%;
  display: grid;
  grid-template-rows:repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0;
  font-size: 0;
}

.circle {
  position: absolute;
  margin-left: 102px;
  margin-top: 48px;
}

.chain {
  position: absolute;
  left: 116px;
  top: 61px;
}

.circle-green {
  position: absolute;
  left: 148px;
  top: 49px;
}

.cub {
  position: absolute;
  width: 12px;
  height: 11px;
  background-color: white;
  left: 163px;
  top: 64px;
}

.amazing-hover-title {
  text-transform: uppercase;
  color: #18CFAB;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  margin-top: 113px;
  margin-bottom: 0;
}

.amazing-hover-text {
  color: #8A8A8A;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 25px;
  text-align: center;
  margin: 0;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.graphic-one {
  background: url("../img/Step Project Ham/graphic design/graphic-design9.jpg");
  background-size: cover;
}

.graphic-two {
  background: url("../img/Step Project Ham/graphic design/graphic-design10.jpg");
  background-size: cover;
}

.graphic-three {
  background: url("../img/Step Project Ham/graphic design/graphic-design11.jpg");
  background-size: cover;
}

.graphic-four {
  background: url("../img/Step Project Ham/graphic design/graphic-design4.jpg");
  background-size: cover;
}

.graphic-five {
  background: url("../img/Step Project Ham/graphic design/graphic-design5.jpg");
  background-size: cover;
}

.graphic-six {
  background: url("../img/Step Project Ham/graphic design/graphic-design12.jpg");
  background-size: cover;
}

.web-one {
  background: url("../img/Step Project Ham/web design/web-design1.jpg");
  background-size: cover;
}

.web-two {
  background: url("../img/Step Project Ham/web design/web-design2.jpg");
  background-size: cover;
}

.web-three {
  background: url("../img/Step Project Ham/web design/web-design3.jpg");
  background-size: cover;
}

.web-four {
  background: url("../img/Step Project Ham/web design/web-design4.jpg");
  background-size: cover;
}

.web-five {
  background: url("../img/Step Project Ham/web design/web-design5.jpg");
  background-size: cover;
}

.web-six {
  background: url("../img/Step Project Ham/web design/web-design6.jpg");
  background-size: cover;
}

.landing-one {
  background: url("../img/Step Project Ham/landing page/landing-page1.jpg");
  background-size: cover;
}

.landing-two {
  background: url("../img/Step Project Ham/landing page/landing-page2.jpg");
  background-size: cover;
}

.landing-three {
  background: url("../img/Step Project Ham/landing page/landing-page3.jpg");
  background-size: cover;
}

.landing-four {
  background: url("../img/Step Project Ham/landing page/landing-page4.jpg");
  background-size: cover;
}

.landing-five {
  background: url("../img/Step Project Ham/landing page/landing-page5.jpg");
  background-size: cover;
}

.landing-six {
  background: url("../img/Step Project Ham/landing page/landing-page7.jpg");
  background-size: cover;
}

.wordpress-one {
  background: url("../img/Step Project Ham/wordpress/wordpress1.jpg");
  background-size: cover;
}

.wordpress-two {
  background: url("../img/Step Project Ham/wordpress/wordpress2.jpg");
  background-size: cover;
}

.wordpress-three {
  background: url("../img/Step Project Ham/wordpress/wordpress3.jpg");
  background-size: cover;
}

.wordpress-four {
  background: url("../img/Step Project Ham/wordpress/wordpress4.jpg");
  background-size: cover;
}

.wordpress-five {
  background: url("../img/Step Project Ham/wordpress/wordpress5.jpg");
  background-size: cover;
}

.wordpress-six {
  background: url("../img/Step Project Ham/wordpress/wordpress8.jpg");
  background-size: cover;
}

.load-btn {
  width: 168px;
  height: 63px;
  background: #18CFAB;
  color: white;
  font-weight: bold;
  font-size: 14px;
  line-height: 42px;
  text-transform: uppercase;
  border: 1px solid #18CFAB;
  border-radius: 6px;
  margin: 70px 43% 99px;
}

.plus {
  padding-right: 15px;
}

.animation {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.breaking-news {
  margin-bottom: 128px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 325px;
  column-gap: 50px;
}

.breaking-page {
  position: relative;
  width: 263px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.breaking-title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 39px;
  margin: 0;
}

.breaking-text {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 39px;
  margin: 0;
}

.square {
  position: absolute;
  right: -11px;
  color: white;
  width: 70px;
  height: 68px;
  background-color: #203E38;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.span-breaking {
  padding: 10px;
}

.breaking-page:hover .square {
  background-color: #18CFAB;
}

.breaking-page:hover .breaking-title {
  color: #18CFAB;
}

.about__block {
  height: 853px;
  background: url("../img/Step Project Ham/Sections background/Layer 333 (1).png");
  background-size: cover;
}

.about-title {
  color: #FFFFFF;
}

.shape {
  margin-left: 555px;
  margin-top: 50px;
}

.carousel-vis {
  width: 1160px;
  height: 327px;
  overflow: hidden;
}

.carousel-line {
  display: flex;
  align-items: stretch;
  width: 4640px;
  height: 327px;
  position: relative;
  left: 0;
  transition: all ease 1s;
}

.feedback-text {
  color: #BBBBBB;
  text-align: center;
  margin-top: 36px;
}

.my-people {
  width: 100%;
}

.people {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  color: #18CFAB;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 27px;
}

.profession {
  color: #BBBBBB;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 50px;
}

.photo-big {
  border: 8px solid #30544d;
  border-radius: 50%;
  width: 120px;
}

.str {
  width: 31px;
  height: 31px;
  border: 1px solid white;
}

.str:hover {
  background-color: #18CFAB;
}

.photo-small {
  border: 4px solid #30544d;
  border-radius: 50%;
}

.small-images {
  display: flex;
  gap: 12px;
}

.small {
  transition: transform 0.6s ease-in-out;
}

.small.active {
  transform: translateY(-16px);
}

.str-left {
  margin: 8px 10px;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 44px 360px;
}

.gallery-pictures {
  display: flex;
  flex-flow: column wrap;
  max-height: 1100px;
  gap: 20px;
}

footer {
  background: #22353F;
}

.footer-text {
  text-align: center;
  color: #AEAEAE;
  font-size: 14px;
  line-height: 26px;
  padding: 48px 0 47px;
}

.footer-span {
  color: #18CFAB;
}
