body {
  background: url("../img/fon.png ");
  background-size: cover;
  font-family: 'Ubuntu', sans-serif;
}

a {
  text-decoration: none;
}

.header {
  width: 100%;
  margin: 0 auto 54px auto;
  display: flex;
  justify-content: space-between;
  background: rgba(0,0,0,0.5);
  }

.header-title {
  font-weight: Bold;
  font-size: 22px;
  line-height: 22px;
  color: #FFFFFF;
  margin: 18px 0 0 79px;
}

.header-title:hover {
  color: rgba(60, 184, 120, 0.8);
}

.header-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 430px;
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
  color: #FFFFFF;
  padding: 18px 0 18px;
  margin-right: 49px;
}

.svg-img {
  fill: white;
  width: 22px;
  height: 24px;
}

.svg-img:hover {
  fill: rgba(60, 184, 120, 0.8);
}

.menu-item-text {
  display: flex;
  align-items: center;
  padding-left: 53px;
}

.item-text-hover {
  color: white;
  padding: 0 10px;
}

.menu-item-text:before {
  content: '';
  display: inline-block;
  position: relative;
  width: 1px;
  height: 19px;
  background: rgba(255, 255, 255, 0.9);
  top: 0;
  left: -42px;
}

.item-text-hover:hover {
  color: rgba(60, 184, 120, 0.8);
}

.main {
  max-width: 444px;
  margin: auto;
  background: white;
}

.wrapper {
  margin: 0 60px;
}

.form-header {
  display: flex;
  justify-content: space-between;
  padding: 31px 0 15px;
}

.form-title {
  font-size: 20px;
  line-height: 20px;
  color: #434343;
}

.form-title::before {
  content: '';
  display: block;
  width: 18px;
  height: 18px;
  background: #3CB878;
  position: relative;
  top: 19px;
  left: -60px;
}

.title-link {
  font-size: 14px;
  line-height: 14px;
  color: #3CB878;
  margin-top: 23px;
}

.title-link:hover {
  text-decoration: underline;
}

.button-block {
  display: flex;
  justify-content: space-between;
 }

.button-text {
  font-size: 16px;
  line-height: 16px;
  padding: 17px 22px 17px 38px;
  color: #FFFFFF;
}

.button-link-one:before {
  content: '';
  display: inline-block;
  position: relative;
  width: 1px;
  height: 28px;
  background: #2B0D09;
  top: 0;
  left: 48px;
}

.button-link-two:before {
  content: '';
  display: inline-block;
  position: relative;
  width: 1px;
  height: 28px;
  background: #2B0D09;
  top: 0;
  left: 48px;
}

.button-link {
  display: flex;
  align-items: center;
  border-radius: 3px;
}

.button-link-one {
  background: #305DB8;
  border: 1px solid #305DB8;

  }

.button-link-one:hover {
  background: #022263;
}

.button-link-two {
  background: #DF4A32;
  border: 1px solid #DF4A32;
 }

.button-link-two:hover {
  background: #AB1F09;
}

.button-img-f {
  padding: 12px 0 12px 17px;
}

.button-img-g {
  padding: 15px 0 14px 12px;
}

.form-or {
  text-align: center;
  font-size: 14px;
  line-height: 14px;
  color: #848484;
  margin: 31px 0 12px;
}

.form-or:before, .form-or:after {
  content: '';
  display: block;
  width: 150px;
  height: 1px;
  position: relative;
  background: #F2F2F2;
}

.form-or::before {
  top: 9px;
}

.form-or:after {
  left: 172px;
  top: -7px;
}

input {
  border: 1px solid #F2F2F2;
  border-radius: 3px;
  width: 93%;
  height: 3.3em;
  margin-bottom: 16px;
  cursor: pointer;
  padding-left: 20px;
}

input:hover {
  box-shadow: 5px 3px 3px rgba(0, 0, 0, 0.21);
}

.checkbox-block {
  display: flex;
  align-items: center;
}

.checkbox {
  width: 20px;
  height: 20px;
  margin: 0;
  outline: #fcf7f7;
}

.checkbox-text {
  font-size: 14px;
  line-height: 14px;
  color: #434343;
  vertical-align: center;
  padding-left: 11px;
 }

.checkbox-link {
  color: #3CB878;
}

.checkbox-link:hover {
  text-decoration: underline;
}

.form-button {
  max-width: 324px;
  width: 100%;
  height: 46px;
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;
  background: rgba(60, 184, 120, 0.8);
  border: 1px solid rgba(60, 184, 120, 0.8);
  border-radius: 3px;
  margin: 20px 0 38px;
}

.form-button:hover {
  background: #01813F;
}
